header {
    padding: 0 125px;
    background-color: #414141;
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-shadow: black 0.1em 0.1em 0.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}