.topbar {
    padding: 0 125px;
    /* background: linear-gradient(180deg, #245eff, #0937b5, #245eff); */
    background-color: #0185FE;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    text-shadow: black 0.1em 0.1em 0.2em;
}