.movies-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
    column-gap: 12px;
    row-gap: 12px;
    align-items: center;
    background: white;
    color: #000;
    height: calc(100vh - 420px);
    width: 100%;
    overflow-y: auto;
}

.movie-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
        margin-top: 8px;
        font-size: 14px;
        color: black;
        text-align: center;
        width: 115px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.movie-card {
    height: auto;
    width: 115px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}